.bg2 {
  background: #fff;
  color: black;
}

.bg3 {
  background: #E8C848;
  color: white;
}

.bg4 {
  background: #0154AA;
  color: white;
}

.calendar {
  border: solid 1px #777;
  height: 250px;
  min-width: 400px;
}

/* Misc */
.bullets {
  font-size: 2em;
  font-family: sans-serif;
  padding: 0.15em;
  text-shadow: 0 1px 1px #2C3E50;
}
.welcome {
  background: #2F74C2;
  border: 2px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  width: 60%
}
.whatis {
  border: 2px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #3E8ECB;
  padding: 0 20px 0 20px;
}
.contact {
  font-size: 2em;
  font-family: sans-serif;
  padding: 0.15em;
  text-shadow: 0 1px 1px #fff;
}
.link, .button {
  text-decoration: none;
  color: #FFF;
}
.link:hover, .button:hover {
  text-decoration: underline;
  color: #FF0000;
}
.feature {
  font-size: 0.8em;
  font-family: sans-serif;
  text-shadow: 0 1px 1px #fff;
}
.comments {
  border: 2px solid black;
  background: #FFF;
  padding: 0 20px 0 20px;
}

/* Grid */
.tile-grid .tile-item {
  margin: 0 0 15px;
  right: 0;
}
.tile-grid .tile-item .tile-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.tile-grid .tile-item .tile-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
.tile-grid .tile-item .tile-link .caption:hover {
  opacity: 1;
}
.tile-grid .tile-item .tile-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
.tile-grid .tile-item .tile-link .caption .caption-content i {
  margin-top: -12px;
}
.tile-grid .tile-item .tile-link .caption .caption-content h3,
.tile-grid .tile-item .tile-link .caption .caption-content h4 {
  margin: 0;
}
.tile-grid * {
  z-index: 2;
}
